# EJERCICIOS

In [8]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, current_date, year, monotonically_increasing_id,  avg, min, coalesce, col, when
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType

spark = SparkSession.builder.master("local[*]").appName("pyspark_rdd").getOrCreate()
#spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

## EJERCICIO 0
En un documento word haz una lista de las diferentes operaciones con una breve descripción de lo que hace y un ejemplo de como se utiliza

## EJERCICIO 1
Realiza las siguientes operaciones:
* Importa el csv de "data/WorldCupPlayers.csv" (que deduzca el esquema)
* Visualiza los datos
* ¿Que tipo de datos contiene cada variable?
* ¿Cuantos registros hay?
* Obtén los principales estadísticos de Position
* Selecciona y muestra los "Team initials" diferentes que hay ¿Cuántos hay?
* ¿Cuantos partidos con el ID de 1096 ha habido?
* Muestra los datos donde la posicion haya sido C y el evento sea G40
* Utiliza Spark SQL para mostras los registros donde el MatchID sea mayor o igual a 20

In [7]:
dfPlayers = (
    spark.read.option("sep", ",")
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("Datos/WorldCupPlayers.csv")
)

In [6]:
dfPlayers.show(1)

+-------+-------+-------------+-------------------+-------+------------+-----------+--------+-----+
|RoundID|MatchID|Team Initials|         Coach Name|Line-up|Shirt Number|Player Name|Position|Event|
+-------+-------+-------------+-------------------+-------+------------+-----------+--------+-----+
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|Alex THEPOT|      GK| NULL|
+-------+-------+-------------+-------------------+-------+------------+-----------+--------+-----+
only showing top 1 row

In [8]:
dfPlayers.printSchema()

root
 |-- RoundID: integer (nullable = true)
 |-- MatchID: integer (nullable = true)
 |-- Team Initials: string (nullable = true)
 |-- Coach Name: string (nullable = true)
 |-- Line-up: string (nullable = true)
 |-- Shirt Number: integer (nullable = true)
 |-- Player Name: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Event: string (nullable = true)

In [9]:
dfPlayers.count()

37784

In [12]:
dfPlayers.describe("position").show()

+-------+--------+
|summary|position|
+-------+--------+
|  count|    4143|
|   mean|    NULL|
| stddev|    NULL|
|    min|       C|
|    max|     GKC|
+-------+--------+

In [13]:
dfPlayers.select("Team Initials").distinct().show()

+-------------+
|Team Initials|
+-------------+
|          POL|
|          JAM|
|          BRA|
|          CUB|
|          FRA|
|          ALG|
|          BOL|
|          RSA|
|          ITA|
|          UKR|
|          CMR|
|          SCG|
|          GHA|
|          SEN|
|          TOG|
|          TRI|
|          TCH|
|          AUS|
|          MEX|
|          PAR|
+-------------+
only showing top 20 rows

In [16]:
dfPlayers.filter(dfPlayers.MatchID == 1096).count()

33

In [17]:
dfPlayers.filter((dfPlayers.Event == "G40") & (dfPlayers.Position == "C")).show()

+-------+-------+-------------+----------+-------+------------+-----------+--------+-----+
|RoundID|MatchID|Team Initials|Coach Name|Line-up|Shirt Number|Player Name|Position|Event|
+-------+-------+-------------+----------+-------+------------+-----------+--------+-----+
+-------+-------+-------------+----------+-------+------------+-----------+--------+-----+

In [18]:
dfPlayers.createOrReplaceTempView("players_table")
spark.sql("SELECT * FROM players_table WHERE MatchID >= 20").show()

+-------+-------+-------------+-------------------+-------+------------+-----------------+--------+---------+
|RoundID|MatchID|Team Initials|         Coach Name|Line-up|Shirt Number|      Player Name|Position|    Event|
+-------+-------+-------------+-------------------+-------+------------+-----------------+--------+---------+
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|      Alex THEPOT|      GK|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|  Oscar BONFIGLIO|      GK|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0| Marcel LANGILLER|    NULL|     G40'|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|     Juan CARRENO|    NULL|     G70'|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|  Ernest LIBERATI|    NULL|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|     Rafael GARZA|       C|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|  Andre MASCHINOT|    NULL|G43' G87'|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|    Hilario LOPEZ|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|  Etienne MATTLER|    NULL|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|   Dionisio MEJIA|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|     Marcel PINEL|    NULL|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|     Felipe ROSAS|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|  Alex VILLAPLANE|       C|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|     Manuel ROSAS|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|   Lucien LAURENT|    NULL|     G19'|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|        Jose RUIZ|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|   Marcel CAPELLE|    NULL|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|  Alfredo SANCHEZ|    NULL|     NULL|
|    201|   1096|          FRA|CAUDRON Raoul (FRA)|      S|           0|Augustin CHANTREL|    NULL|     NULL|
|    201|   1096|          MEX|   LUQUE Juan (MEX)|      S|           0|   Efrain AMEZCUA|    NULL|     NULL|
+-------+-------+-------------+-------------------+-------+------------+-----------------+--------+---------+
only showing top 20 rows

## EJERCICIO 2

A partir del archivo nombres.json, crea un DataFrame y realiza las siguientes operaciones:

1. Crea una nueva columna (columna Mayor30) que indique si la persona es mayor de 30 años.
2. Crea una nueva columna (columna FaltanJubilacion) que calcule cuantos años le faltan para jubilarse (supongamos que se jubila a los 67 años)
3. Crea una nueva columna (columna Apellidos) que contenga XYZ (puedes utilizar la función lit)
4. Elimina las columna Mayor30 y Apellidos.
5. Crea una nueva columna (columna AnyoNac) con el año de nacimiento de cada persona (puedes utilizar la función current_date).
6. Añade un id incremental para cada fila (campo Id) y haz que al hacer un show se vea en primer lugar (puedes utilizar la función monotonically_increasing_id) seguidos del Nombre, Edad, AnyoNac, FaltaJubilacion y Ciudad

Al realizar los seis pasos, el resultado del DataFrame será similar a :
``````
+---+-------+----+-------+----------------+--------+
| Id|Nombre |Edad|AnyoNac|FaltanJubilacion|  Ciudad|
+---+-------+----+-------+----------------+--------+
|  0|  Aitor|  45|   1977|              22|   Elche|
|  1| Marina|  14|   2008|              53|Alicante|
|  2|  Laura|  19|   2003|              48|   Elche|
|  3|  Sonia|  45|   1977|              22|    Aspe|
|  4|  Pedro|null|   null|            null|   Elche|
+---+-------+----+-------+----------------+--------+
``````

In [24]:
dfNombre = spark.read.json("Datos/nombres.json")
dfNombre.show(1)

+------+----+------+
|Ciudad|Edad|Nombre|
+------+----+------+
| Elche|  45| Aitor|
+------+----+------+
only showing top 1 row

In [25]:
dfNombre = dfNombre.withColumn("mayor30", when(col("Edad") > 30, "Y").otherwise("N"))
dfNombre.show(1)

+------+----+------+-------+
|Ciudad|Edad|Nombre|mayor30|
+------+----+------+-------+
| Elche|  45| Aitor|      Y|
+------+----+------+-------+
only showing top 1 row

In [26]:
dfNombre = dfNombre.withColumn("FaltaJubilacion", 67 - col("Edad"))
dfNombre.show(1)

+------+----+------+-------+---------------+
|Ciudad|Edad|Nombre|mayor30|FaltaJubilacion|
+------+----+------+-------+---------------+
| Elche|  45| Aitor|      Y|             22|
+------+----+------+-------+---------------+
only showing top 1 row

In [27]:
dfNombre = dfNombre.withColumn("Apellidos", lit("XYZ"))
dfNombre.show(1)

+------+----+------+-------+---------------+---------+
|Ciudad|Edad|Nombre|mayor30|FaltaJubilacion|Apellidos|
+------+----+------+-------+---------------+---------+
| Elche|  45| Aitor|      Y|             22|      XYZ|
+------+----+------+-------+---------------+---------+
only showing top 1 row

In [28]:
dfNombre = dfNombre.drop("Apellidos", "mayor30")
dfNombre.show(1)

+------+----+------+---------------+
|Ciudad|Edad|Nombre|FaltaJubilacion|
+------+----+------+---------------+
| Elche|  45| Aitor|             22|
+------+----+------+---------------+
only showing top 1 row

In [29]:
dfNombre = dfNombre.withColumn("AnyoNac", year(current_date()) - col("Edad"))
dfNombre.show(1)

+------+----+------+---------------+-------+
|Ciudad|Edad|Nombre|FaltaJubilacion|AnyoNac|
+------+----+------+---------------+-------+
| Elche|  45| Aitor|             22|   1980|
+------+----+------+---------------+-------+
only showing top 1 row

In [30]:
dfNombre = dfNombre.withColumn("Id", monotonically_increasing_id())
dfNombre = dfNombre.select("Id", "Nombre", "Edad", "AnyoNac", "FaltaJubilacion", "Ciudad")
dfNombre.show()

+---+------+----+-------+---------------+--------+
| Id|Nombre|Edad|AnyoNac|FaltaJubilacion|  Ciudad|
+---+------+----+-------+---------------+--------+
|  0| Aitor|  45|   1980|             22|   Elche|
|  1|Marina|  14|   2011|             53|Alicante|
|  2| Laura|  19|   2006|             48|   Elche|
|  3| Sonia|  45|   1980|             22|    Aspe|
|  4| Pedro|NULL|   NULL|           NULL|   Elche|
+---+------+----+-------+---------------+--------+

## EJERCICIO 3

A partir del archivo VentasNulos.csv:

1. Elimina las filas que tengan al menos 4 nulos.

2. Con las filas restantes, sustituye:

    * Los nombres nulos por Empleado
    * Las ventas nulas por la media de las ventas de los compañeros (redondeado a entero).
    ``````
        media = df.groupBy().avg('Ventas')
    ``````
    * Los euros nulos por el valor del compañero que menos € ha ganado. (tras agrupar, puedes usar la función min)
    * La ciudad nula por C.V. y el identificador nulo por XYZ

## EJERCICIO 4

 A partir del archivo movies.tsv, crea una esquema de forma declarativa con los campos:

* interprete de tipo string
* pelicula de tipo string
* anyo de tipo int

Cada fila del fichero implica que el actor/actriz ha trabajado en dicha película en el año indicado.
1. Una vez creado el esquema, carga los datos en un DataFrame.

A continuación, mediante el DataFrame API:

2. Muestra las películas en las que ha trabajado Murphy, Eddie (I).
3. Muestra los intérpretes que aparecen tanto en Superman como en Superman II.

## EJERCICIO 5
Realiza las siguientes operaciones:
* Carga el dataset de “data/stocks_price_final.csv”, con el esquema correcto de datos (tienes que crear tu el schema").
* Renombra la variable market.cap a market
* Elimina la variable market
* Muestra las filas donde el valor de "open" es nulo.
* Elimina las filas donde el valor de "open" es nulo.
* Para comprobar el punto anterior vuelve a mostrar las filas donde el valor de "open" es nulo.